{% extends "layout.html" %}
{% block content %}

    <a class="nav-link position-fixed"  style="left: 50px; top: 10px" href="/logging">Back to logging</a>
	<div class="form-check form-switch position-fixed" style="right: 50px; top: 10px">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
        <label for="flexSwitchCheckChecked">Logging On/Off</label>
    </div>

	<div class="list-group position-fixed" style="top: 180px; left: 440px; width: 500px; background-color: D28465;">
		<a href="#" class="list-group-item list-group-item-action align-items-start">
		  <div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Error</h5>
			<small>Time</small>
		  </div>
		  <p class="mb-1">Description</p>
		</a>
	</div>

{% endblock %}
