{% extends "layout.html" %}
{% block content %}

<a class="btn btn-outline-dark position-fixed"role="button" style="left: 50px; top: 10px; border-width: 2px;" href="/logging">Back to Logging</a>
	


	<div class="list-group position-fixed" style="top: 180px; left: 440px; width: 500px; background-color: D28465;">
		<a href="#" class="list-group-item list-group-item-action align-items-start">
		  <div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Playlist Title</h5>
			<small>Time Began</small>
		  </div>
		  <div class="d-flex w-100 justify-content-between">
		  	<p class="mb-1">Playlist Creator</p>
			<small>Time Ended</small>
		  </div>
		</a>
	</div>

{% endblock %}
