{% extends "layout.html" %}
{% block content %}
	<a class="nav-link" href="/logging">View Logs</a>
	<h1> This is the {{page_name}} page</h1>


	<ol class="list-group list-group-numbered">
		<li class="list-group-item d-flex justify-content-between align-items-start">
		  <div class="ms-2 me-auto">
			<div class="fw-bold">Title - Time</div>
			Artist
		  </div>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
		  <div class="ms-2 me-auto">
			<div class="fw-bold">Title - Time</div>
			Artist
		  </div>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
		  <div class="ms-2 me-auto">
			<div class="fw-bold">Title - Time</div>
			Artist
		  </div>
		</li>
	  </ol>

{% endblock %}
