{% extends "layout.html" %}
{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
			$(function() {
				$('a#test').on('click', function(e) {
					$.getJSON('/toggle_logging',
							function(data) {
						window.location.reload(True);
					});
					return false;
				});
			});
</script>

	<h1 class="position-fixed" style="left: 35%">{{page_name}}</h1>

	<a class="btn btn-outline-dark position-fixed"role="button" style="left: 50px; top: 10px; border-width: 2px;" href="https://git-classes.mst.edu/kmnr-rework/automation-rework">Go to Repository</a>

	<h7 for="customRange1" class="form-label position-fixed" style="right: 50px; top: 10px">{{slider}}</h7>
	<input type="range" class="form-range position-fixed" style="width: 200px; right: 50px; top: 30px" id="customRange1">



  <form method="POST" action="logging">
    <btn class="btn btn-outline-dark position-fixed" id="flexSwitchCheckChecked" style="border-width: 2px; left: 50px; top:55px" data-bs-toggle="modal" data-bs-target="#exampleModal">Turn Logging {{on_off}}</btn>
  </form>

	<div class="fixed-bottom">
	  <h1>
		<ul class="nav justify-content-center nav-fill">
			<li class="nav-item">
				<a href="/playlists" class="btn btn-lg btn-outline-dark" style="border-width: 2px;" tabindex="-1" role="button">Playlists</a>
			</li>
			<li class="nav-item">
				<a href="/programming" class="btn btn-lg btn-outline-dark" style="border-width: 2px;" tabindex="-1" role="button">Programming</a>
			</li>
			<li class="nav-item">
				<a href="/logging" class="btn btn-lg btn-outline-dark" style="border-width: 2px;" tabindex="-1" role="button">View Logs</a>
			</li>
		</ul>
	  </h1>
	</div>
{% endblock %}
