{% extends "layout.html" %}
{% block content %}
	<h1 class="fixed-top" style="text-align: center;"> This is the {{page_name}} page</h1>
	

	<div class="fixed-bottom">
	  <h1>
		<ul class="nav justify-content-center nav-fill">
			<li class="nav-item">
			<a class="nav-link"  style="color: black;" href="/playlists">Playlists</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" style="color: black;" href="/programming">Programming</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" style="color: black;" href="/logging">View Logs</a>
			</li>
		</ul>
	  </h1>
	</div>
{% endblock %}
