{% extends "logging_layout.html" %}
{% block content %}

	
    <a class="btn btn-outline-dark position-fixed"role="button" style="left: 50px; top: 10px; border-width: 2px;" href="/">KUMM</a>
	





	  <div class="dropdown position-fixed" style="width: 500px; position: relative; left: 640px; bottom: 400px;">
		<button class="btn btn-secondary dropdown-toggle" style="background-color: D18564;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		  Select One
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<li><a class="dropdown-item" href="/song_logs">Song Logs</a></li>
			<li><a class="dropdown-item" href="/error_logs">Error Logs</a></li>
			<li><a class="dropdown-item" href="/playlist_logs">Playlist Logs</a></li>
		</ul>

	  </div>


{% endblock %}