{% extends "layout.html" %}
{% block content %}

	
    <a class="nav-link position-fixed"  style="left: 50px; top: 10px" href="/">KUMM</a>
	<div class="form-check form-switch position-fixed" style="right: 50px; top: 10px">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
        <label for="flexSwitchCheckChecked">Logging On/Off</label>
    </div>

	  <div class="dropdown position-fixed" style="width: 500px; position: relative; left: 640px; bottom: 400px;">
		<button class="btn btn-secondary dropdown-toggle" style="background-color: D18564;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		  Select One
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<li><a class="dropdown-item" href="/song_logs">Song Logs</a></li>
			<li><a class="dropdown-item" href="/error_logs">Error Logs</a></li>
			<li><a class="dropdown-item" href="/playlist_logs">Playlist Logs</a></li>
		</ul>

	  </div>


{% endblock %}