{% extends "layout.html" %}
{% block content %}

	<h1 class="fixed-top" style="text-align: center;"> This is the {{page_name}} page</h1>
    <a class="nav-link fixed-top" href="/">KMNR Automation</a>

	  <div class="dropdown position-fixed" style="position: relative; left: 640px; bottom: 400px;">
		<button class="btn btn-secondary dropdown-toggle" style="background-color: D18564;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		  Select One
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		  <li><a class="dropdown-item" href="/song_logs">Song Logs</a></li>
		  <li><a class="dropdown-item" href="/error_logs">Error Logs</a></li>
		  <li><a class="dropdown-item" href="/playlist_logs">Playlist Logs</a></li>
		</ul>
	  </div>

{% endblock %}