{% extends "layout.html" %}
{% block content %}
	<a class="nav-link" href="/">KMNR Automation</a>
	<h1> This is the {{page_name}} page</h1>

	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="background_image.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">CaleJuic3</h5>
					  <p class="card-text">A playlist</p>
					  <a href="#" class="btn btn-primary">View</a>
					  <a href="#" class="btn btn-primary">Play</a>
					</div>
				  </div>
			</div>
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="background_image.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">GogoJuic3</h5>
					  <p class="card-text">A playlist</p>
					  <a href="#" class="btn btn-primary">View</a>
					  <a href="#" class="btn btn-primary">Play</a>
					</div>
				  </div>
				</div>
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">MCLiminal</h5>
					  <p class="card-text">A playlist</p>
					  <a href="#" class="btn btn-primary">View</a>
					  <a href="#" class="btn btn-primary">Play</a>
					</div>
				  </div>
			</div>
			
		</div>
	</div>


{% endblock %}
