{% extends "layout.html" %}
{% block content %}

	<h1 class="fixed-top" style="text-align: center;"> This is the {{page_name}} page</h1>
	<a class="nav-link fixed-top" href="/">KUMM</a>

	<div class="container-fluid position-fixed">
		<div class="row" style="height: 50px;"></div>
		<div class="row">
			<div class="col">
				<div class="card" style="width: 18rem; background-color: 899481;">
					<img src="../static/wizard_frog.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">CaleJuic3</h5>
					  <p class="card-text">A playlist</p>
					  <a href="/songs" class="btn btn-primary stretched-link" style="background-color: 8F6181; border-color: white;">View</a>
					  
					</div>
				  </div>
			</div>
			<div class="col">
				<div class="card" style="width: 18rem; background-color: 899481;">
					<img src="../static/black_cats.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">GogoJuic3</h5>
					  <p class="card-text">A playlist</p>
					  <a href="/songs" class="btn btn-primary stretched-link" style="background-color: 8F6181; border-color: white;">View</a>
					</div>
				  </div>
				</div>
			<div class="col">
				<div class="card" style="width: 18rem; background-color: 899481;">
					<img src="../static/stay_sunny.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">MCLiminal</h5>
					  <p class="card-text">A playlist</p>
					  <a href="/songs" class="btn btn-primary stretched-link" style="background-color: 8F6181; border-color: white;">View</a>
					</div>
				  </div>
			</div>
			
		</div>
	</div>


{% endblock %}
