{% extends "layout.html" %}
{% block content %}
	<div class="container-fluid position-fixed">
		<div class="row" style="height: 75px;">
			<a class="btn btn-outline-dark position-fixed"role="button" style="left: 50px; top: 10px; border-width: 2px; width: 75px;" href="/">KUMM</a>
		</div>
		<div class="row">
			{% for playlist in playlists %}
			<div class="col">
				<div class="card" style="width: 18rem; background-color: 899481;">
					<img src="../static/wizard_frog.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">{{playlist}}</h5>
					  <p class="card-text">A playlist</p>
					  <a href="{{ url_for('playlists') }}/{{playlist}}" class="btn btn-primary stretched-link" style="background-color: 8F6181; border-color: white;">View</a>
					</div>
				  </div>
			</div>
			{% endfor %}
		</div>
	</div>


{% endblock %}
