{% extends "layout.html" %}
<body>
    {% block content %}
    <div class="container-fluid position-fixed overflow-auto" style="height: 100%;">
      <a class="btn btn-outline-dark position-fixed"role="button" style="left: 50px; top: 10px; border-width: 2px;" href="/programming">Back to Programming</a>
        <h1 class="text-center">{{pname}}</h1>
        <table class="table table-hover text-medium table-bordered table-sm overflow-scroll" style="width: 95%; background-color: rgb(245, 201, 56); opacity: 90%;">
            <thead>
                <tr>
                  <th scope="col">Name</th>
                </tr>
              </thead>
            <tbody>
                {% for program in program_content %}
                <tr>
                    <td>{{program}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
    {% endblock %}    
</body>
