{% extends "layout.html" %}
{% block content %}

	
<a class="btn btn-outline-dark position-fixed"role="button" style="left: 50px; top: 10px; border-width: 2px;" href="/">KUMM</a>
	
<div class="form-check form-switch position-fixed" style="left: 640px; bottom: 400px;">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" data-bs-toggle="modal" data-bs-target="#exampleModal" checked>
    <label for="flexSwitchCheckChecked">Logging On/Off</label>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Hold ur horses</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      Are you absolutely sure you want to turn on/off logging?? Like, for everything???
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yes go away</button>
      <button type="button" class="btn btn-primary" onclick="">Ugh ur right my bad</button>
    </div>
  </div>
</div>
</div>

<a href="https://git-classes.mst.edu/kmnr-rework/automation-rework" type="button" style="left: 45%; top: 37%; border-width: 2px;" class="btn btn-outline-dark position-fixed">Go to Repository</a>

{% endblock %}